

*{
	box-sizing: border-box;
	margin:0;
	border:0;
}

body{
	font-family: 'Montserrat',sans-serif;
	background: lightgray;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: 65px 0 20px;
}

h1{
	font-weight: bold;
	margin: 0;
}

p{
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span{
	font-size: 12px;
}

a{
	color: #333;
	font-size: 12px;
	text-decoration: none;
	margin: 15px 0;
}

.container{
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgb(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 786px;
	max-height: 100%;
	min-height: 480px; 
}

.form-container form{
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: 0 50px;
	height: 100%;
}

.form-container input{
	background: #eee;
	border: none;
	width: 100%;
	padding: 12px 15px;
	margin: 8px 0;
}

button{
	border-radius: 20px;
	border: 1px solid #ff4b2b;
	background: #ff4b2b;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 12px 45px;
	text-transform: uppercase;
	transition: transform 80ms ease-in-out;
}

button:active{
	transform: scale(0.95);
}

button:focus{
	outline: none;
}

button.ghost{
	background: transparent;
	/* background: white; */
	color: white;
	border: 1px solid white;
}

.form-container{
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container{
	left: 0;
	width: 50%;
	z-index: 2;
}

.sign-up-container{
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.overlay-container{
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.overlay{
	background: #ff416c;
	background: linear-gradient(to right, #ff4b6b, #ff416c) no-repeat 0 0 / cover;
	color: white;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-panel{
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0 40px;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-right{
	right: 0;
	transform: translateX(0);
}

.overlay-left{
	transform: translateX(-20%);
}

.container.right-panel-active .sign-in-container{
	transform: translateX(100%);
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);	
}

.container.container.right-panel-active .sign-up-container{
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
}

.container.right-panel-active .overlay{
	transform: translateX(50%);
}

.container.right-panel-active .overlay-left{
	transform: translateX(0);
}

.container.right-panel-active .overlay-right{
	transform: translateX(0);
}
